@import url('base.css');
body{
    background: #EEEEEE;
}/*头部开始*/
header{
    width: 100%;
    height:60px;
    background: #222222;
    position: fixed;
    left:0;
    top:0;
    z-index: 99;
}
header>img{
    float:left;
    margin-left:90px;
    width: 180px;
    height: 60px;
}
header>ul{
    width:690px;
    height:60px;
    float:right;
    position: relative;
}
header>ul>li{
    width:88px;
    height:60px;
    float: left;
    margin-right: 20px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
}
header>ul>li>a{
    color: #fff;
}
header>ul>li:nth-of-type(5){
    border-bottom: 5px solid #7DC01D;
}
header>ul>li>a:hover{
    color: #7DC01D;
}
header>ul>li:hover{
    border-bottom: 5px solid #7DC01D;
}
.header-first a{
    color: #7DC01D;
}
.headxh1,.headxh2,.headxh3{
    width:131px;
    background: #fff;
    position: absolute;
    top:60px;
    left:0;
    font-size: 14px;
    z-index: 999;
    display: none;
    line-height: 45px;
}
.headxh1 p a,.headxh2 p a,.headxh3 p a{
    color: #37474F;
}
.headxh1 p a:hover,.headxh2 p a:hover,.headxh3 p a:hover{
    color: #7DC01D;
}
.headxh1{
    left:89px;
}
.headxh2{
    left:304px;
}
.headxh3{
    left:411px;
}
/*头部结束*/
aside{
    width:1185px;
    height:1334px;
    background: #EEEEEE;
    margin-top: 92px;
    margin-left: 91px;
}
.aside-left{
    width:880px;
    height:1341px;
    background: #fff;
    float: left;
    padding: 30px;
}
.aside-left_1{
    font-size: 33px;
    color: #37474F;
}
.aside-left_2{
    height: 50px;
    display: flex;
    font-size: 15px;
    color: #A3AFB7;
    margin-top: 12px;
    border-bottom: 1px solid #DDDDDD;
}
.aside-left_2 p:nth-of-type(2),.aside-left_2 p:nth-of-type(3){
    margin-left: 10px;
}
.aside-left_3{
    padding-top: 30px;
}
.aside-left_3 p{
    font-size: 18px;
    color: #4C4F4C;
    padding-left: 35px;
    margin-top: 10px;
}
.aside-left_3 p:nth-of-type(3),.aside-left_3 p:nth-of-type(5),.aside-left_3 p:nth-of-type(8),.aside-left_3 p:nth-of-type(10),.aside-left_3 p:nth-of-type(12){
    padding-left:0;
    margin-top: 5px;
}
.aside-left_6{
    padding-top: 20px;
}
.aside-left_6 li{
    padding: 10px 20px;
    border:1px solid #E4EAEC;
    border-radius: 50px;
    font-size: 14px;
}
.aside-left_6 li:nth-of-type(1){
    float: left;
}
.aside-left_6 li:hover{
    color: #7CB908;
    border:1px solid #7CB908;
}
.aside-left_6 li a{
    color: #8F9AA4;
}
.aside-left_6 li a:hover{
    color: #7CB908;
}
.aside-left_6 li:nth-of-type(2){
    float: right;
}
.aside-left img{
    margin-top: 30px;
    margin-left: 35px;
}
.nav-right{
    width:265px;
    height:630px;
    background: #fff;
    float: right;
}
.nav-right li{
    width:220px;
    height:50px;
    border-bottom: 1px solid  #DDDDDD;
    line-height: 30px;
    font-size: 16px;
    margin: 0 auto;
}
.nav-right li:nth-of-type(1){
    padding-top:10px;
    height:74px;
}
.nav-right li:nth-of-type(2){
    padding-top: 10px;
    color: #2A333C;
}
.nav-right li:nth-of-type(3){
    height:365px;
    padding-top: 15px;
}
.nav-right li:nth-of-type(4){
    padding-top: 10px;
    color: #37474F;
    font-size: 16px;
}
.nav-right li:nth-of-type(3) div{
    border:1px solid #E4EAEC;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: none;
}
.nav-right li:nth-of-type(3) a{
    color: #2A333C;
}
.nav-right li:nth-of-type(3) a:hover{
    text-decoration: underline;
    color: #7CB908;
}
#last{
    border:1px solid #E4EAEC;
}
.nav-right li:nth-of-type(4) a{
    color: #2A333C;
}
.nav-right li:nth-of-type(4) p{
    padding-top: 15px;
    color: #2A333C;
}
.nav-right li:nth-of-type(4) p:hover{
    text-decoration: underline;
}
.nav-right li:nth-of-type(4) p:hover a{
    color: #7CB908;
}
.nav-right li input{
    width:220px;
    height:38px;
    border-radius: 50px;
    outline: none;
    border:1px solid #7CB908;
    padding-left: 15px;

}
/*底部开始*/
footer{
    width:100%;
    height:117px;
    margin-top:50px;
    background: #222222;
    overflow: hidden;
}
.footer_1{
    text-align: center;
    font-size: 14px;
    color: #A0A0A0;
    margin-top: 29px;
}
.footer_2{
    text-align: center;
    font-size: 14px;
    color: #A0A0A0;
    margin-top: 5px;
}
.footer_3{
    width:180px;
    height:14px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 14px;
}
.footer_3 p:nth-of-type(1),.footer_3 p:nth-of-type(3){
    color: #A0A0A0;
}
.footer_3 p:nth-of-type(2) a{
    color: #fff;
}
.footer_3 p:nth-of-type(2) a:hover {
    color: #7CB908;
    text-decoration: underline;
}